Body {
	background-color: #fcccbb;
}

p {
	color: #c94257;
}

h1 {
	color: #1fa39a;
}

h2 {
	color: #fcccbb;
	background-color: seagreen;
}

/* Navigation Menu Styles */

nav {
	text-align: center;
	width:100vw;
}
nav li{
	Margin: 0 2vw;
}
nav ul {
	list-style-type: none;
	Margin: 0;
	padding: 0;
	display: flex
}

