Body {
	background-color: #fcccbb;
	margin: 0;
}

p {
	color: #c94257;
}

h1 {
	color: #1fa39a;
}

h2 {
	color: #fcccbb;
	background-color: seagreen;
}

/* Navigation Menu Styles */

nav {
	width:100vw;
	text-align: center;
	background-color: seagreen;
	color: #fcccbb;
	position: fixed;
	top: 0;
	
	
}
nav li{
	Margin: 0 2vw;
}
nav ul {
	list-style-type: none;
	Margin: 0;
	padding: 0;
	display: flex
}

nav a{
	text-decoration: none;
	color: #fcccbb;
}

nav a:hover{
	background-color: green;
}

#center {
  text-align: center;
}
